.content-slider {
  //display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.prev-button,
.next-button {
  
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prev-button {
  left: 45%;
}

.next-button {
  left: 53%;
}





.slide {
  max-width: 100%;
}

@media only screen and (min-width: 1300px) {

  .prev-button,
  .next-button {
    position: absolute;
  bottom: -80px;

  transform: translate(-50%, -50%);
    top: 50%;
    bottom: 0;
    left: 50%;

}

.prev-button {
  left: -10%;
}

.next-button {
  left: 108%;
}



}

@media only screen and (min-width: 1024px) {
  .story-nav {
    
    width: calc(100% - 245.86px);
  }
}


