.brand-green {
  color: #2bae5b;
}

.brand-blue {
  color: #272661;
}

.brand-yellow {
  color: #F5BA18;
}

.brand-green-bg {
  background-color: #2bae5b;
}

.brand-blue-bg {
  background-color: #272661;
}

.brand-yellow-bg {
  background-color: #F5BA18;
}



.dynamic-image {
  max-height: inherit;
}

.scale-image {
  --tw-scale-x: 2;
  --tw-scale-y: 2;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.content-slider {
  
  align-items: center;
  justify-content: center;
  position: relative;
}

.prev-button,
.next-button {
  
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prev-button {
  left: 45%;
}

.next-button {
  left: 53%;
}





.slide {
  max-width: 100%;
}

@media only screen and (min-width: 1300px) {

  .prev-button,
  .next-button {
    position: absolute;
  bottom: -80px;

  transform: translate(-50%, -50%);
    top: 50%;
    bottom: 0;
    left: 50%;

}

.prev-button {
  left: -10%;
}

.next-button {
  left: 108%;
}



}

@media only screen and (min-width: 1024px) {
  .story-nav {
    
    width: calc(100% - 245.86px);
  }
}


