.content-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prev-button {
  left: -10%;
}

.next-button {
  left: 110%;
}

.slide {
  max-width: 100%;
}


